
		<footer>
			<div>
				<div>Funchat</div>
				<ul>
					<li><a href="#">Help</a></li>
					<li><a href="#">Privacy & Terms</a></li>
				</ul>
				<em>Design by @shun</em>
			</div>
		</footer>
	</body>
</html>
